# .gitignore
.env
build/
.env.production
project.json
.vercel


# 除外する画像ファイル
public/favicon.ico
public/study-memo-book-note.jpg
public/top0.png
public/top5.png
public/internet-memo.jpg
public/logo.png
public/pc-memo.jpg


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env*.local
