# .gitignore
.env
build/
.env.production
project.json
.vercel
firebase-serviceAccountKey.json

# 除外する画像ファイル
public/favicon.ico
public/study-memo-book-note.jpg
public/top0.png
public/top5.png
public/internet-memo.jpg
public/logo.png
public/pc-memo.jpg

public/convert_webp/study-memo-book-note.webp
public/convert_webp/top0.webp
public/convert_webp/top5.webp
public/convert_webp/internet-memo.webp
public/convert_webp/logo.webp
public/convert_webp/pc-memo.webp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env*.local
